.control {
  max-width: 200px;
}

p.control--width-height--subtitle {
  color: #AAA;
  font-size: 12px;
  padding-bottom: 5px;
}

.control.MuiCard-root {
  padding: unset;
}

.control--color-picker.dx-texteditor.dx-editor-outlined {
  width: 150px;
}